/***********************************************
 Vars
***********************************************/
$lightGray: #eee;
$lighterGray: #fafafa;
$darkest: #000;
$lightest: #fff;
$error: red;
$linkHoverColor: orange;

/***********************************************
 Global
***********************************************/

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

img {
  image-rendering: -moz-pixelated;
  image-rendering:   -o-pixelated;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.main {
  padding: 0 20px;
}

.container {
  width: 95%;
  margin: auto;
}

/***********************************************
 Nav
***********************************************/

.Nav {
  background-color: $darkest;
  color: $lightest;
  height: 50px;
  line-height: 45px;
  padding: 10px 20px;
}

.Nav a {
  color: $lightest;
  text-decoration: none;
}

.Nav a:hover {
  color: $linkHoverColor;
}

.Nav .title {
  font-size: 2em;
  float:left;
}

.Nav .Menu {
  list-style: none;
  font-size: 1.4em;
  float: right;
  margin: 0;
}

.Nav .Menu li {
  display: inline-block;
  margin-left: 30px;
}

/***********************************************
 Home
***********************************************/
.Home {
  margin-top: 50px;
  text-align: center;
}

.Home .welcome-text {
  font-size: 2em;
}

.Home .welcome-area img {
  width: 100px;
  padding: 30px;
}

/***********************************************
 Products
***********************************************/
.Products .product-list {
  padding-left: 0;
  list-style: none;
  text-align: center;
}

.Products h2 {
  margin-top: 20px;
}

.Products .product-list li {
  height: 80px;
  min-width: 80px;
  background-color: $lightest;
  text-align: center;
  border: 5px solid $darkest;
  display: inline-block;
  margin: 20px;
  padding: 20px;
}

.Products .product-list li:hover {
  background-color: $darkest;
}

.Products .product-list img {
  height: 100%;
}

/***********************************************
 ProductDetails
***********************************************/

.ProductDetails .product-img {
  min-height: 150px;
}

.ProductDetails .product-area {
  display: flex;
  justify-content: center;
}

.ProductDetails .img-area {
  float: left;
  text-align: right;
  text-align: center;
  border: 10px solid $darkest;
  display: inline-block;
  margin: 20px;
  padding: 40px;
}

.ProductDetails .img-desc {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
  padding: 20px;

}

.ProductDetails .img-desc h3 {
  margin: 0;
}

.ProductDetails .breadcrumbs {
  margin-bottom: 50px;
}

.ProductDetails .price {
  padding: 10px;
  background-color: $darkest;
  color: $lightest;
  font-size: 1.5em;
  height: 40px;
  line-height: 40px;
}

.ProductDetails .rupee {
  background-color: $darkest;
  width: 20px;
  float: left;
  margin-right: 10px;
}

/***********************************************
 Admin - Inventory
***********************************************/
.Inventory thead {
  text-align: center;
  font-size: 1em;
}

.Inventory th {
  border-bottom: 1px solid $darkest;
}

.Inventory {
  border-collapse: collapse;
  vertical-align: middle;
  width: 100%;
  border: 1px solid black;
  border-bottom: 5px solid $darkest;
  border-top: 5px solid $darkest;
}

.Inventory tr:nth-child(even) {
  background-color: $lighterGray;
}

.Inventory tr:hover {
  background-color: $darkest;
  color: $lightest;
  cursor: pointer;
}

.Inventory th, td {
  text-align: center;
  padding: 10px;
}

.Inventory .center {
  text-align: center;
}

.Inventory .product-img {

}
.Inventory .product-img img {
  height: auto;
  width: auto;
  max-width: 100px;
  height: 50px;
  vertical-align: middle;
}

.Inventory .rupee {
  vertical-align: middle;
}

/***********************************************
 Admin - AddProduct
***********************************************/

.AddProduct h2 {
  margin: 20px 0;
}

.AddProduct .field-area {
  display: inline-block;
}

.AddProduct label {

}

.AddProduct input {
  padding: 5px;
  border: 1px solid $lightGray;
  margin-right: 20px;
  margin-bottom: 20px;

}

.AddProduct .input-error {
  border: 1px solid $error;
}

.AddProduct input[name='name'] {
  width: 150px;
}

.AddProduct input[name='price'],
.AddProduct input[name='quantity'] {
  width: 50px;
}

.AddProduct input[name='img'] {
  width: 200px;
}

.AddProduct input[name='desc1'],
.AddProduct input[name='desc2'] {
  width: 200px;
}

.AddProduct .field-error {
  padding: 5px 0;
  color: $error;
}

.AddProduct .add-btn {
  padding: 5px 20px;
  background-color: $darkest;
  color: $lightest;
  border: 1px solid $darkest;
  margin-bottom: 20px;
}

/***********************************************
 Mobile - General
***********************************************/
@media (max-width: 650px) {
  /***********************************************
    Mobile - Nav
  ***********************************************/
  .Nav .title {
    float: none;
    text-align: center;
  }

  .Nav {
    margin-bottom: 90px;
  }

  .Nav a {
    color: $darkest;
  }

  .Nav .Menu {
    border-bottom: 1px solid $darkest;
    margin: 10px 0;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    float: none;
  }

  .Nav .Menu li {
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-right: 30px;
  }

  .Nav .Menu li:last-child {
    margin-right: 0px;
  }

  /***********************************************
    Mobile - Home
  ***********************************************/
  .Home .welcome-area img {
    width: 80px;
    padding: 10px;
  }

  /***********************************************
    Mobile - Products
  ***********************************************/
  .Products h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .Products .product-list li {
    height: 60px;
    min-width: 60px;
    margin: 10px;
    border: 3px solid $darkest;
  }

  /***********************************************
    Mobile - ProductDetails
  ***********************************************/
  .ProductDetails .product-area {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .ProductDetails .product-img {
    min-height: 60px;
  }

  .ProductDetails .img-area {
    float: none;
    border: 5px solid $darkest;
    margin: 10px auto;
    padding: 20px;
    height: 100%;
    width: 60px;
  }

  .ProductDetails .img-desc {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.5em;
    padding: 20px;

  }

  .ProductDetails .breadcrumbs {
    text-align: center;
  }

  /***********************************************
    Mobile - Inventory
  ***********************************************/
  .Inventory thead {
    display: none;
  }
  .Inventory td {
    display: block;
    text-align: left;
    padding: 5px 20px;
    margin-bottom: 10px;
  }

  .Inventory .product-img {
    margin: 15px 0 10px;
  }

  .Inventory tr {
    border-bottom: 1px solid $darkest;
  }

  .Inventory tr:hover {
    background-color: inherit;
    color: inherit;
    cursor: arrow;
  }

  .Inventory td:before {
    content: attr(data-label) ': ';
    margin-right: 10px;
    font-weight: bold;
  }

  .Inventory td:first-child:before {
    content: none;
  }
}